body {
  background-color: #2980b9;
  text-align: center;

}

.cont {
  display: inline-flex;
}

button {
  width: 100px;
  height: 40px;
  margin-right: 10px;
}

.btn-reinitialiser {
  background-color: crimson;
}

btn-ajouter {
  background-color: darkturquoise;
}

btn-soustraire {
  background-color: chartreuse;
}